.space {
  border: 1px brown solid;
  width: 120px;
  height: 120px;
  background-color: lightgreen;
}
#board {
margin-left:15px;
}

h1 {
  text-align: center;
}

.start-game {
  font-size: 24px;
  font-weight: bold;
  background-color:lightgrey;
  border-radius: 3px;

}
.start-game:hover {
  text-transform: underline;
  color: aqua;

}

.inner {
  font-size: 70px;
  margin-left:40px;
}
td {
  align: center;
}
