body {
  font-family: 'Reenie Beanie', cursive;
  font-size:3em;
  align: center;
}

.space {
  border: 5px white solid;
  width: 120px;
  height: 120px;
  background-color: lightgreen;
  border-radius: 20px;
}

#board {
 margin-left:15px;
  align: center;
}

h1 {
  text-align: center;
  text-shadow: 0 0 30px green;
  font-size: 75px;
}

.start-game, .end-game {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color:lightblue;
  border-radius: 10px;
  margin-top: 12px;
  margin-left: 129px;
}

.start-game:hover, .end-game:hover{
  text-transform: underline;
  color: black;
}

.inner {
  font-size: 80px;
  margin-left:40px;
}

td {
  align: center;
}

.messages {
  font-size:60px;
  text-shadow: 0 0 30px green;
  display: none;
}

.scores {
  text-shadow: 0 0 30px green;
}

.btn-holder {
  width:33%;
}
