body {
  font-family: 'Reenie Beanie', cursive;
  font-size:3em;
  align: center;
}

.space {
  border: 1px brown solid;
  width: 120px;
  height: 120px;
  background-color: lightgreen;
}

#board {
 margin-left:15px;
  align: center;
}

h1 {
  text-align: center;
  font-size: 75px;
}

.start-game, .end-game {
  font-size: 24px;
  font-weight: bold;
  background-color:lightgrey;
  border-radius: 3px;
  margin-top: 12px;
  margin-left: 129px;
}

.start-game:hover, .end-game:hover{
  text-transform: underline;
  color: aqua;
}

.inner {
  font-size: 80px;
  margin-left:40px;
}

td {
  align: center;
}

.messages {
  font-size:60px;
  display: none;
}

.btn-holder {
  width:33%;
}
